.profile {
  display: flex;
  gap: 120px;
  align-items: center;
  justify-content: space-between;
}

.profile__history {
  margin-top: 20px;
  align-self: flex-start;
}

.profile__edit-btn {
  height: 23px;
  font-size: 20px;
}

.profile__liked-games {
  flex-grow: 2;
}

.profile__buttons {
  margin-top: 20px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (max-width: 795px) {
  .profile {
    flex-direction: column-reverse;
    align-items: center;
    gap: 50px;
  }

  .profile__buttons {
    align-self: center;
    margin: 0;
  }

  .profile__history {
    align-self: center;
    margin: 0;
  }
}
