.demo {
  border: 1px #000 solid;
}

.demo__btn {
  padding: 0;
  margin: 0;
  font-size: 15px;
  width: 129px;
  border: none;
  background-color: #35654d;
  color: #f3f3f3;
  cursor: pointer;
  transition: 0.3s linear;
}

.demo__btn:hover {
  opacity: 0.6;
}

.demo__game-start {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.demo__game {
  display: flex;
  justify-content: space-around;
  margin-top: 16px;
}

.demo__draw-title {
  text-align: center;
}

.demo__discard-title {
  text-align: center;
}

.demo__card-btn {
  padding: 0;
  width: 100px;
  height: 135px;
  position: relative;
  cursor: pointer;
  transition: 0.3s linear;
}

.demo__card-btn:hover {
  opacity: 0.6;
}

.demo__pile {
  background-image: url("https://deckofcardsapi.com/static/img/back.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.demo__pile_empty {
  background-image: none;
  background-color: #35654d;
  border: none;
  /* border: 5px solid #000 */
}

.demo__card-img {
  padding: 0;
  width: 100px;
  height: 135px;
  position: absolute;
  top: 0;
  left: 0;
}

.demo__cards {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 16px auto;
}

.demo__hand-size {
  text-align: center;
  margin-bottom: 16px;
}
