.war__title {
  text-align: center;
  font-size: 44px;
}

.war__description-placeholder {
  font-size: 24px;
  text-align: center;
}

.war__game-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 700px;
  width: 100%;
}

.war__card-btn {
  padding: 0;
  width: 85px;
  height: 115px;
  position: relative;
  cursor: pointer;
  transition: 0.3s linear;
  border-radius: 3%;
}

.war__piles__play-area {
  display: flex;
  gap: 30px;
}

.war__play-pile {
  width: 85px;
  height: 115px;
  border: 1px solid #fff;
}

.war__start-game {
  display: flex;
  align-items: center;
  gap: 30px;
}
