.war {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.war__title {
  text-align: center;
  font-size: 44px;
  flex-grow: 2;
}

.war__game-btn {
  padding: 0;
  margin: 0;
  font-size: 20px;
  width: 15%;
  height: 50px;
  border: none;
  background-color: transparent;
  color: #f3f3f3;
  cursor: pointer;
  transition: 0.3s linear;
  border: 1px #f3f3f3 solid;
  border-radius: 18px;
  margin: 20px 0;
}

.war__game-btn:hover {
  opacity: 0.5;
}

.war__game-won {
  margin-top: 50px;
  font-size: 44px;
  flex-grow: 3;
}

.war__description-placeholder {
  font-size: 24px;
  text-align: center;
}

.war__game-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 700px;
  /* height: 90%; */
  width: 100%;
}

.war__paragraph {
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #f3f3f3;
}

.war__player-area {
  display: flex;
  gap: 20px;
}

.war__card {
  position: relative;
  width: 100%;
  height: 100%;
}

.war__game-card {
  width: 100px;
}

.war__player-piles-div {
  display: flex;
  width: 100%;
  /* gap: 100px; */
  justify-content: space-around;
}

.war__card-btn {
  padding: 0;
  width: 100px;
  height: 150px;
  position: relative;
  cursor: pointer;
  transition: 0.3s linear;
  border-radius: 3%;
  background: transparent;
}

.war__reset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  font-size: 20px;
  /* font-weight: 700; */
  align-items: center;
  width: 100%;
  max-width: 150px;
  border: none;
  background-color: transparent;
  color: #f3f3f3;
  cursor: pointer;
  transition: 0.3s linear;
}

.war__pile_empty {
  background-image: url("../../assets/Cross.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position-y: center;
  width: 100%;
  height: 100%;
}

.war__play-area {
  display: flex;
  gap: 80px;
  height: 150px;
  width: 100%;
  justify-content: space-around;
}

.war__reset-div {
  display: flex;
  align-items: center;
}

.war__reset-btn {
  padding: 0;
  width: 100px;
  height: 150px;
}

.war__play-pile {
  width: 100px;
  height: 100%;
  border: 1px #fff solid;
  position: relative;
}

/* .war__played-card {
  position: absolute;
  top: 0;
  left: 0;
} */

.war__contested-card {
  width: 100px;
}

.war__player-one-card {
  position: absolute;
  top: 0;
  left: 0;
}

.war__player-two-card {
  position: absolute;
  top: 0;
  left: 0;
}

.war__ready-btn {
  width: 60px;
  height: 50%;
  align-self: center;
  cursor: pointer;
  transition: 0.3s linear;
}

.war__ready-btn:hover {
  opacity: 0.7;
}

.war__start-game {
  display: flex;
  align-items: center;
  gap: 30px;
}

@media screen and (max-width: 795px) {
  .war__reset-btn {
    width: 80px;
  }
  .war__game-card {
    width: 80px;
  }

  .war__play-pile {
    width: 80px;
  }

  .war__play-area {
    gap: 10px;
  }

  .war__player-piles-div {
    gap: 25px;
  }

  .war__contested-card {
    width: 80px;
  }
}

@media screen and (max-width: 550px) {
  .war__reset-btn {
    width: 80px;
    height: 100px;
  }
  .war__game-card {
    width: 80px;
    height: 100px;
  }

  .war__play-pile {
    width: 80px;
    height: 100px;
  }

  .war__contested-card {
    width: 80px;
    height: 100px;
  }

  .war__play-area {
    height: 225px;
    align-items: center;
  }

  .war__player-piles-div {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    /* position: relative; */
  }

  .war__player-piles-div_two {
    flex-direction: column-reverse;
  }

  /* .war__play-pile__two,
  .war__contested-pile_two,
  .war__play-pile__one,
  .war__contested-pile_one {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  } */
/* 
  .war__play-pile__two,
  .war__play-pile__one {
    top: 0%
  }

  .war__contested-pile_two,
  .war__contested-pile_one {
    top: 50%
  } */

  .war__player-pile {
    width: 80px;
    height: 100px;
  }
}
