.history__grid-row {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  /* grid-auto-rows: minmax(45px, 60px); */
}

.history__grid-item {
  margin: 0;
  background-color: #35654d;
  border: 1px #000 solid;
  line-height: 1.2;
  word-wrap: break-word;
}
