header {
  padding: 32px 20px 28px;
  display: flex;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  flex-direction: column;
  gap: 15px;
}

.header__title {
  margin: 0 auto;
  text-align: center;
  font-size: 60px;
}

.header__description {
  margin: 0 auto;
  font-size: 45px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.header__home {
  width: 24px;
  height: 24px;
  transition: 0.3s linear;
}

.header__home:hover {
  opacity: 0.4;
}

.header__profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.header__link {
  text-decoration: none;
}

.header__profile-info {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #f3f3f3;
  cursor: pointer;
  opacity: 1;
}

.header__profile-info:hover .header__username {
  opacity: 0.4;
}

.header__username {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
  transition: 0.3s linear;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}


.header__auth {
  display: flex;
  gap: 10px;
  align-items: center;
}

.header__button {
  padding: 0;
  margin: 0;
  font-size: 20px;
  width: 129px;
  border: none;
  background-color: #35654d;
  color: #f3f3f3;
  cursor: pointer;
  transition: 0.3s linear;
}

.header__button:hover {
  opacity: 0.5;
}

@media screen and (max-width: 795px) {
  .header__username {
    max-width: 250px;
  }
}

@media screen and (max-width: 550px) {
  .header__title {
    font-size: 40px;
    max-width: 320px;
  }

  .header__button {
    width: 100px;
  }

  .header__username {
    max-width: 125px;
  }
}
